.search-container {
    height: 70vh;
    background-color: lightcoral;
    display: flex;
    align-items: center;
}

.search-container small {
    color: white;
}

.btn.clean {
    padding: 0;
}

@media only screen and (max-width: 425px) {
    .card-deck .card {
        width: auto;
    }
}
