<form>
    <div class="form-group">
        <label for="plataform">Filtro por Plataforma:</label>
        {% for choice in filter.plataform_choices %}
            <div class="form-check">
                <input class="form-check-input input-plataform" type="checkbox" name="plataforms" value="{{ choice }}" id="{{ choice|slugify }}"
                    {% for choice_selected in filter.filters_selected.plataform %}
                        {% if choice|slugify in choice_selected %} checked {% endif %}
                    {% endfor %}>
                <label class="form-check-label" for="{{ choice|slugify }}">{{ choice }}</label>
            </div>
        {% endfor %}
        <button type="button" class="btn btn-link clean" id="clean-plataform">Limpar</button>
    </div>
    <hr>

    <div class="form-group">
        <label for="price">
            Filtro por Preço:
        </label>
        <div class="form-check">
            <input class="form-check-input input-price" type="radio" name="price" id="1_49" value="1_49"
                {% if filter.filters_selected.price == "1_49" %} checked {% endif %}>
            <label class="form-check-label" for="1_49">De R$1,00 até R$49,99</label>
        </div>
        <div class="form-check">
            <input class="form-check-input input-price" type="radio" name="price" id="50_99" value="50_99"
                {% if filter.filters_selected.price == "50_99" %} checked {% endif %}>
            <label class="form-check-label" for="50_99">De R$50,00 até R$99,99</label>
        </div>
        <div class="form-check">
            <input class="form-check-input input-price" type="radio" name="price" id="100_149" value="100_149"
                {% if filter.filters_selected.price == "100_149" %} checked {% endif %}>
            <label class="form-check-label" for="100_149">De R$100,00 até R$149,99</label>
        </div>
        <div class="form-check">
            <input class="form-check-input input-price" type="radio" name="price" id="150_199" value="150_199"
                {% if filter.filters_selected.price == "150_199" %} checked {% endif %}>
            <label class="form-check-label" for="150_199">De R$150,00 até R$199,99</label>
        </div>
        <div class="form-check">
            <input class="form-check-input input-price" type="radio" name="price" id="200_299" value="200_299"
                {% if filter.filters_selected.price == "200_299" %} checked {% endif %}>
            <label class="form-check-label" for="200_299">De R$200,00 até R$299,99</label>
        </div>
        <div class="form-check">
            <input class="form-check-input input-price" type="radio" name="price" id="300_399" value="300_399"
                {% if filter.filters_selected.price == "300_399" %} checked {% endif %}>
            <label class="form-check-label" for="300_399">De R$300,00 até R$399,99</label>
        </div>
        <div class="form-check">
            <input class="form-check-input input-price" type="radio" name="price" id="300_499" value="300_499"
                {% if filter.filters_selected.price == "300_499" %} checked {% endif %}>
            <label class="form-check-label" for="300_499">De R$300,00 até R$499,99</label>
        </div>
        <button type="button" class="btn btn-link clean" id="clean-price">Limpar</button>
    </div>
    <hr>
    <button type="submit" id="btn-filter-submit" class="btn btn-primary btn-block">Filtrar</button>
</form>
